parameters:
  name: "" # defaults for any parameters that aren't specified
  vmImage: ""

jobs:
  - job: ${{ parameters.name }}
    pool:
      vmImage: ${{ parameters.vmImage }}

    strategy:
      matrix:
        Python310:
          python.version: "3.10"
        Python311:
          python.version: "3.11"
        Python312:
          python.version: "3.12"
        Python313:
          python.version: "3.13"
        Python314:
          python.version: "3.14"

    steps:
      - task: UsePythonVersion@0.206.0
        inputs:
          versionSpec: "$(python.version)"
          architecture: "x64"

      - script: |
          python -m pip install --upgrade pip
          python -m pip install  -e ".[numpy,pandas,tests]"
          python -m pip install --upgrade pytest-azurepipelines
        displayName: "Install dependencies"

      - script: |
          pytest --cov pypistats --cov-report html --test-run-title="${{ parameters.name }} Python $(python.version)"
        displayName: "Unit tests"

      - script: |
          pypistats --help
          pypistats recent --help
        displayName: "Test runs"
