parameters:
  name: "" # defaults for any parameters that aren't specified
  vmImage: ""

jobs:
  - job: ${{ parameters.name }}
    pool:
      vmImage: ${{ parameters.vmImage }}

    strategy:
      matrix:
        Python36:
          python.version: "3.6"
        Python37:
          python.version: "3.7"
        Python38:
          python.version: "3.8"
        Python39:
          python.version: "3.9"

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "$(python.version)"
          architecture: "x64"

      - script: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade freezegun numpy pandas pytest pytest-azurepipelines pytest-cov requests_mock
          python -m pip install  -e .
        displayName: "Install dependencies"

      - script: |
          pytest --cov pypistats --cov-report html --test-run-title="${{ parameters.name }} Python $(python.version)"
        displayName: "Unit tests"

      - script: |
          pypistats --help
          pypistats recent --help
        displayName: "Test runs"

      - script: |
          python -m pip install --upgrade codecov
          codecov --name "Azure: ${{ parameters.name }} Python $(python.version)" --build $(Build.BuildNumber) --token $(CODECOV_TOKEN)
        condition: succeeded()
        displayName: "Upload to Codecov"
