# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: Linux_test
  displayName: 'Linux test'
  template: .azure-pipelines/jobs/test.yml
  pool:
    vmImage: 'Ubuntu-16.04'

- job: Windows_test
  displayName: 'Windows test'
  template: .azure-pipelines/jobs/test.yml
  pool:
    vmImage: 'vs2017-win2016'

- job: Publish
  dependsOn:
  - Linux_test
  - Windows_test
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      architecture: 'x64'

  - script: python setup.py sdist
    displayName: 'Build sdist'
