include LICENSE.txt
prune .azure-pipelines
prune example
prune tests
exclude .coveragerc
exclude .editorconfig
exclude .gitignore
exclude .travis.yml
exclude azure-pipelines.yml
exclude pyproject.toml
exclude RELEASING.md
exclude tox.ini
