# Only for testing pinned versions on the CI
appdirs==1.4.4
freezegun==1.0.0
httpx==0.16.1
numpy==1.19.5
pandas==1.2.0
pytablewriter[html]==0.58.0
pytest==6.2.1
pytest-cov==2.11.0
python-slugify==4.0.1
respx==0.16.3
