name: Test

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11-dev", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          # Include new variables for Codecov
          - { codecov-flag: GHA_Ubuntu, os: ubuntu-latest }
          - { codecov-flag: GHA_macOS, os: macos-latest }
          - { codecov-flag: GHA_Windows, os: windows-latest }

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: "setup.py"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U wheel
          python -m pip install -U tox

      - name: Tox tests
        if: matrix.python-version != '3.11-dev'
        run: |
          tox -e py

      - name: Tox tests (3.11-dev)
        if: matrix.python-version == '3.11-dev'
        run: |
          tox -e py311

      - name: Tox tests (pins)
        if: matrix.python-version == '3.8' && matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          tox -e pins

      - name: Upload coverage
        uses: codecov/codecov-action@v2.1.0
        with:
          flags: ${{ matrix.codecov-flag }}
          name: ${{ matrix.os }} Python ${{ matrix.python-version }}
